{% extends 'base.html.twig' %}

{% block title %}Login! | {{ parent() }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>404 Page not found! ✅</h1>
    {% if error is defined %}
        <span class="error">{{ error.messageKey }}</span>
    {% endif %}
    
    
    
</div>
{% endblock %}
{# empty Twig template #}
