{% extends 'base.html.twig' %}

{% block title %}Login! | {{ parent() }} {% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello Login Page! ✅</h1>
    {% if error %}
        <span class="error">{{ error.messageKey }}</span>
    {% endif %}
    
    <form action="{{ path('admin-login') }}" method = "POST" >
        <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
        <input type="text" name="email" value="{{ last_user_name }}" placeholder="email">
        <input type="password" name="password"  placeholder="password">
         <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        <button type="submit">Login</button>
    </form>
    
</div>
{% endblock %}