{% extends 'base.html.twig' %}

{% block body %}
    
    {% if message is defined %}
        <br/>{{ message }}
    {% endif %}

    {% if user is defined %}
        ss{% dump(user)%}
    {% endif %}
    {{ form(form) }}
{% endblock %}